.firstNameSection {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.input {
  border: 1px solid #e6e4e3;
  border-radius: 8px;
  font-weight: 300;
  color: #272631;
  padding: 1rem;
  &:focus {
    border-color: #00a0aa;
    box-shadow: 0 0 0 3px rgba(0, 160, 170, 0.2);
    cursor: pointer;
    outline: 0;
    transition: all 0.3s ease-in-out;
  }
}
.errorMessage {
  color: rgb(236, 93, 86);
  margin: 8px 0 16px 0;
  font-weight: lighter;
  font-size: 14px;
}
.divisionsSection {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
